<div class="content">
<h1> Users: </h1>

  <ul class="all-users">
    <% users.each do |user| %>
      <h4>
        <li> <%= link_to user.username, user_path(user) %></li>
      </h4>
    <% end %>
  </ul>
</div>
