<h1 class="title is-1 game"> <%= game.name %> </h1>

<div class="columns">
  <% categories.each do |category| %>
    <div class="column content">
      <h2 class="category-name title is-2">
        <%= category.name %>
      </h2>

      <ul>
        <% game.games.each do |game| %>
          <% if game.category_id == category.id %>
            <li class="game-name">
              <%= game.name %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div> <%= link_to "Add Game", new_game_path, class: 'button is-primary' %> </div>
