<h1 class="title is-1 game"> <%= game.name %> </h1>

<div class="content">
  <h3 class="category-name title is-3">
    <strong>Owned by: </strong>
      <ul>
        <% games.each do |gameowner| %>
          <li><%= link_to gameowner.user.username, gameowner.user %></li>
        <% end %>
      </ul>

    <strong>Description: </strong><%= game.description %>
  </h3>
</div>
